::deep .mud-nav-link:hover:not(.mud-nav-link-disabled) {
    color: unset;
    filter: brightness(1.2);
    background-color: #5c6bc0;
    transition: all 200ms ease-in-out;
}

::deep .mud-nav-link:hover:not(.mud-nav-link-disabled):not(.indigo):not(.lighten-1) {
    background-color: rgba(92, 107, 192, 0.35);
}